@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-image: radial-gradient(circle, #3f224c, #11111b);
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  padding: 10px;
}

nav {
  color: white;
  border: solid 2px rgba(255, 255, 255, 0.2);
}

#logo,
.number {
  background: transparent;
  backdrop-filter: blur(30px);
  border: solid 2px rgba(255, 255, 2552, 0.2);
  border-radius: 50%;
}

.box {
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
}
